Repository videocoin/cloud-ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --config .prettierrc --write

top navigation organism
  CHANGELOG.md
  dist/components/Navigation/NavLink.d.ts
  dist/components/Navigation/Navigation.d.ts
  dist/components/TopBar/TopBar.d.ts
  dist/index.es.js
  dist/index.es.js.map
  dist/index.js
  dist/index.js.map
  package.json
  src/components/Navigation/NavLink.tsx
  src/components/Navigation/Navigation.module.scss
  src/components/TopBar/TopBar.module.scss
  src/components/TopBar/TopBar.tsx
Due: eslint --fix, prettier --config .prettierrc --write

export top nav
  dist/index.d.ts
  dist/index.es.js
  dist/index.es.js.map
  dist/index.js
  dist/index.js.map
  package.json
  src/index.tsx
Due: eslint --fix

top bar component fixes
  package.json
  src/components/Checkbox/Checkbox.tsx
  src/components/TopBar/TopBar.module.scss
  src/components/Typography/Typography.module.scss
  yarn.lock
Due: eslint --fix, prettier --config .prettierrc --write

select and icons
  CHANGELOG.md
  index.ts
  package.json
  src/components/Icon/Icon.tsx
  src/components/Icon/icons/VIDToken.svg
  src/components/Icon/icons/account.svg
  src/components/Icon/icons/add.svg
  src/components/Icon/icons/archive.svg
  src/components/Icon/icons/arrowDown.svg
  src/components/Icon/icons/arrowUp.svg
  src/components/Icon/icons/awaitingInput.svg
  src/components/Icon/icons/back.svg
  src/components/Icon/icons/copy.svg
  src/components/Icon/icons/delete.svg
  src/components/Icon/icons/deposit.svg
  src/components/Icon/icons/expandMenu.svg
  src/components/Icon/icons/incomplete.svg
  src/components/Icon/icons/livestreamManager.svg
  src/components/Icon/icons/networkVisualizer.svg
  src/components/Icon/icons/offline.svg
  src/components/Icon/icons/payment.svg
  src/components/Icon/icons/placeholderSm.svg
  src/components/Icon/icons/placeholderXs.svg
  src/components/Icon/icons/preparing.svg
  src/components/Icon/icons/remove.svg
  src/components/Icon/icons/streaming.svg
  src/components/Icon/icons/videoCoinWallet.svg
  src/components/Icon/icons/withdrawal.svg
  src/components/Radio/Radio.module.scss
  src/components/Radio/Radio.tsx
  src/components/Radio/RadioBtn.tsx
  src/components/Select/Select.tsx
  src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --config .prettierrc --write

components bug fixes
  src/components/Modal/Modal.module.scss
  src/components/Radio/Radio.module.scss
  src/components/Typography/Typography.module.scss
Due: prettier --config .prettierrc --write

components bug fixes
  src/components/FieldAction/FieldAction.module.scss
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Overlay/Overlay.module.scss
  src/components/TopBar/TopBar.module.scss
  src/components/Typography/Typography.module.scss
Due: eslint --fix, prettier --config .prettierrc --write

spinner and bug fixes
  index.ts
  src/components/Input/Input.module.scss
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
  src/components/Spinner/Spinner.module.scss
  src/components/Spinner/Spinner.tsx
  src/index.tsx
Due: eslint --fix, prettier --config .prettierrc --write

input field component fix
  src/components/Input/Input.module.scss
Due: prettier --config .prettierrc --write

modal view
  src/components/Modal/Modal.module.scss
  src/components/Modal/Modal.tsx
Due: eslint --fix, prettier --config .prettierrc --write

body scroll hook added
  package.json
  src/components/Modal/Modal.tsx
  src/hooks/useLockBodyScroll.ts
Due: eslint --fix

updated to build upon install
  .gitignore
  package.json
Due: none

update to rollup dev dep.
  package.json
Due: none

changed to prepare to get dev deps.
  package.json
Due: none

minor corrections and new icons
  package.json
  src/components/Button/Button.module.scss
  src/components/Icon/Icon.tsx
  src/components/Icon/icons/awaitingInput.svg
  src/components/Icon/icons/pipelines.svg
  src/components/Icon/icons/streaming.svg
Due: eslint --fix, prettier --config .prettierrc --write

wallet tx table wip
  CHANGELOG.md
  index.ts
  package.json
  src/components/Table/Table.module.scss
  src/components/Table/Table.tsx
  src/index.tsx
Due: eslint --fix, prettier --config .prettierrc --write

pagination component
  package.json
  src/components/Icon/Icon.tsx
  src/components/Icon/icons/arrowLeft.svg
  src/components/Icon/icons/arrowRight.svg
  src/components/Pagination/Pagination.module.scss
  src/components/Pagination/Pagination.tsx
  src/index.tsx
Due: eslint --fix, prettier --config .prettierrc --write

status icon fix
  CHANGELOG.md
  package.json
  src/components/Icon/icons/preparing.svg
Due: none

tooltips
  CHANGELOG.md
  index.ts
  package.json
  src/components/Icon/Icon.tsx
  src/components/Icon/icons/info.svg
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/WarnTooltip.tsx
  src/components/Tooltip/styles.scss
  src/index.tsx
Due: eslint --fix, prettier --config .prettierrc --write

minor fixes
  package.json
  src/components/Icon/Icon.tsx
  src/components/Logo/Logo.tsx
Due: eslint --fix

export pagination
  index.ts
Due: none

more icons and styles
  package.json
  src/components/Icon/Icon.tsx
  src/components/Table/Table.module.scss
  src/components/Typography/Typography.module.scss
  src/components/Typography/Typography.tsx
  src/styles/colors.scss
  src/styles/vars.scss
Due: eslint --fix, prettier --config .prettierrc --write

more icons and styles
  src/components/Icon/icons/block.svg
  src/components/Icon/icons/dashboard.svg
  src/components/Icon/icons/search.svg
  src/components/Icon/icons/stream.svg
  src/components/Icon/icons/transaction.svg
  src/components/Icon/icons/transactions.svg
Due: none

spinner
  src/components/Spinner/Spinner.module.scss
  src/components/Spinner/Spinner.tsx
Due: eslint --fix, prettier --config .prettierrc --write

v0.38.1
  package.json
Due: none

v0.38.1
  CHANGELOG.md
  dist/index.es.js
  dist/index.js
  package.json
  rollup.config.js
Due: none

v0.38.2
  dist/index.es.js
  dist/index.js
  package.json
  src/components/Button/Button.module.scss
  src/components/Typography/Typography.module.scss
Due: prettier --config .prettierrc --write

v0.38.3
  dist/index.es.js
  dist/index.js
  package.json
  src/components/Input/Input.module.scss
Due: prettier --config .prettierrc --write

Add lodash types.
  .gitignore
  package.json
  yarn.lock
Due: none

v0.38.4
  dist/index.es.js
  dist/index.js
  package.json
  src/components/Input/Input.module.scss
Due: prettier --config .prettierrc --write

v0.38.5 Marketing Button.
  src/components/Button/Button.stories.tsx
  src/components/MarketingButton/MarketingButton.module.scss
  src/components/MarketingButton/MarketingButton.tsx
Due: eslint --fix, prettier --config .prettierrc --write

Export marketing button.
  index.ts
Due: none

v0.39.0
  CHANGELOG.md
  dist/index.es.js
  dist/index.js
  dist/src/components/Icon/Icon.d.ts
  dist/src/components/IconButton/IconButton.d.ts
  dist/src/components/Indicator/Indicator.d.ts
  dist/src/components/Input/NotchedOutline.d.ts
  dist/src/components/Logo/Logo.d.ts
  dist/src/components/Navigation/NavLink.d.ts
  dist/src/components/Pagination/Pagination.d.ts
  dist/src/components/Radio/RadioContext.d.ts
  dist/src/components/Select/Select.d.ts
  dist/src/components/SingleSelector/SingleSelector.d.ts
  dist/src/components/Spinner/Spinner.d.ts
  dist/src/components/Tooltip/WarnTooltip.d.ts
  dist/src/components/Typography/Typography.d.ts
  package.json
  src/components/Card/Card.stories.tsx
  src/components/Modal/Modal.stories.tsx
  src/components/Navigation/NavLink.tsx
  src/components/Navigation/Navigation.tsx
  src/components/SingleSelector/SingleSelector.tsx
  src/components/Table/Table.tsx
  src/components/Typography/Typography.module.scss
  src/components/Typography/Typography.stories.tsx
  src/components/Typography/Typography.tsx
  src/hooks/useLockBodyScroll.ts
  src/styles/typography.scss
  src/styles/vars.scss
  yarn.lock
Due: eslint --fix, prettier --config .prettierrc --write

Update build command.
  package.json
  src/components/Modal/Modal.stories.tsx
Due: eslint --fix

v0.39.1 Remove conflicting defaults.
  src/components/Typography/Typography.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: ./src/**/*.{ts,tsx}
  prettier --config .prettierrc --write: any of: ./src/**/*.{json,css,scss,md}
